    <h1><%= @song.title %></h1>
    <div class="song">
        <%= embed( @song.url ).html_safe %>
    </div>

    <h2>Comments</h2>

    <% if logged_in? %>
      <%= form_for @comment, url: song_comments_path(@song) do |f| %>
        <%= f.text_field :content %> <br>
        <%= f.hidden_field :song_id, :value => @song.id %>
        <%= f.submit value: "Submit!", class: "submit-comment" %>
      <% end %>
    <% else %>
        <p>Please sign in to leave a comment</p>
    <% end %>

    <div class='comment-list'>
      <% if @song_comments.empty? %>
        <p>No comments yet</p>
      <% end %>
      <ul>
        <% @song_comments.each do |comment| %>
          <li>
            <%= comment.content %> <br>
            <span class="vote-total">[ <%= vote_total( comment ) %> ]</span>
            <% if logged_in? %>
                <div class="vote-links">
                    <%= link_to "Upvote", upvote_song_comment_path( @song, comment, vote: { user_id: current_user.id, voteable_id: comment.id, voteable_type: "Comment", value: 1}), { method: 'post', class: "vote-link" } %> /
                    <%= link_to "Downvote", downvote_song_comment_path( @song, comment, vote: { user_id: current_user.id, voteable_id: comment.id, voteable_type: "Comment", value: -1}), { method: 'post', class: "vote-link" } %>
                </div>
            <% end %>
            Posted By: <%= link_to comment.commenter.username, user_path(comment.commenter), class: "user-link" %>
          </li>
        <% end %>
      </ul>
    </div>

