    <h1><%= @song.title %></h1>
    <div class="song">
        <%= embed( @song.url ).html_safe %>
    </div>

    <ul class="comment-list">
      <% @song_comments.each do |comment| %>
        <li>
          Comment: <%= comment.content %> <br>
          <%= link_to "Upvote", upvote_song_comment_path( @song, comment, vote: { user_id: current_user.id, voteable_id: comment.id, voteable_type: "Comment", value: 1}), { method: 'post' } %> /
          <%= link_to "Downvote", downvote_song_comment_path( @song, comment, vote: { user_id: current_user.id, voteable_id: comment.id, voteable_type: "Comment", value: -1}), { method: 'post' } %>
          Posted By: <%= link_to comment.commenter.username, user_path(comment.commenter) %>
        </li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= form_for @comment, url: song_comments_path(@song) do |f| %>
        Say Something! <%= f.text_field :content %> <br>
        <%= f.hidden_field :song_id, :value => @song.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
