<div class="song-overview">

    <h1><%= @song.title %></h1>
    <div class="song">
        <%= embed( @song ).html_safe %>
    </div>

    <ul>
      <% @song.comments.each do |comment| %>
        <li>
          Comment: <%= comment.content %> <br>
          Posted By: <%= link_to comment.commenter.username, user_path(comment.commenter) %>
        </li>
      <% end %>
    </ul>

    <% if logged_in? %>
      <%= form_for @comment, url: song_comments_path(@song) do |f| %>
        Say Something! <%= f.text_field :content %> <br>
        <%= f.submit %>
      <% end %>
    <% end %>



</div>

