<div class="top-20-list">
  <ol>
    <li>
      <div class="song">
        <h4>1. War on Drugs - Under the Pressure</h4>
        <div class="album-artwork"><%=  image_tag "131204-war-on-drugs-lost-in-dream-album-cover.jpg" %></div>
        <div class="audio-player"><%= audio_tag("underthepressure.mp3", controls: true) %></div>
      </div>
    </li>
    <li>
      <div class="song">
        <h4>2. Beastie Boys - No Sleep Till Brooklyn</h4>
        <div class="album-artwork"><%=  image_tag "Licensed_to_ill.jpg" %></div>
        <div class="audio-player"><%= audio_tag("underthepressure.mp3", controls: true) %></div>
      </div>
    </li>
    <li>
      <div class="song">
        <h4>3. Red Hot Chili Peppers - Californiacation</h4>
        <div class="album-artwork"><%=  image_tag "californiacation.jpg" %></div>
        <div class="audio-player"><%= audio_tag("underthepressure.mp3", controls: true) %></div>
      </div>
    </li>
  </ol>
</div>
